/*
*
*   ██╗    ██╗██╗  ██╗███████╗██╗   ██╗
*   ██║    ██║██║  ██║██╔════╝╚██╗ ██╔╝
*   ██║ █╗ ██║███████║█████╗   ╚████╔╝
*   ██║███╗██║██╔══██║██╔══╝    ╚██╔╝
*   ╚███╔███╔╝██║  ██║███████╗   ██║
*   ╚══╝╚══╝ ╚═╝  ╚═╝╚══════╝   ╚═╝
*
* ------------------------------------------------------ *
*
* # 1 - O que é
* # 2 - Para que serve
* # 3 - Composição
* # 4 - Tipos
* # 5 - Tabela Comparativa
* # 6 - Como Tomar
* # 7 - Benefícios
* # 8 - Perguntas
*
* ------------------------------------------------------ *
*/

// Colors
$color-1: #de1e23;
$color-2: #d4181d;
$color-3: #ac0b10;
$color-4: #960102;

/*  1 - O que é  */
section#o-que-e {
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  padding: 40px 0px 0px 0px;

  .title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 24pt;
  }

  p {
    color: #ffffff;
    margin: 0px 0px 20px 0px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .image {
    align-self: flex-end;
    margin-top: 50px;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

/*  2 - Para que Serve  */
section#para-que-serve {
  padding: 70px 0px 50px 0px;

  .image {
    align-self: flex-end;

    img {
      display: block;
      margin: 0 auto 20px auto;
      max-width: 100%;
    }
  }

  .title {
    color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
    font-size: 20pt;
  }

  p {
    margin: 0px 0px 20px 0px;
    font-size: 11.5pt;
  }
}

/*  3 - Composição  */
section#composicao {
  .title {
    color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
    font-size: 20pt;
  }

  .subtitle {
    font-style: italic;
    font-size: 17pt;
    margin: 0px 0px 65px 0px;
  }

  .box {
    position: relative;
    padding: 65px 40px 45px 40px;
    color: #ffffff;

    &:last-child {
      padding-bottom: 10px;
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .box-1 {
    background-color: $color-2;
  }

  .box-2 {
    background-color: $color-3;
  }

  .box-3 {
    background-color: $color-4;
  }

  .box-name {
    background: #323232;
    display: inline-block;
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    text-transform: uppercase;
    padding: 15px 35px 15px 45px;
    font-size: 13pt;
    transform: translateY(-24px);

    &:after {
    	content: '';
    	position: absolute;
    	right: 0;
    	top: 50%;
    	width: 0;
    	height: 0;
    	border: 24px solid transparent;
    	border-left-color: #323232;
    	border-right: 0;
    	margin-top: -24px;
    	margin-right: -24px;
    }
  }

  @media (max-width: 992px) {
    .box {
      padding: 65px 15px 45px 15px;
    }

    .box-name {
      padding: 15px 15px 15px 15px;
      font-size: 11pt;
    }
  }
}

/*  4 - Tipos  */
section#tipos {
  .image {
    align-self: center;

    img {
      display: block;
      margin: 0 auto 20px auto;
      max-width: 100%;
    }
  }

  .subtitle {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
  }

  .title {
    color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
    font-size: 20pt;
  }

  p {
    margin: 0px 0px 20px 0px;
    font-size: 11.5pt;
  }
}

/*  5 - Tabela Comparativa  */
section#tabela-comparativa {
  position: relative;
  background-color: #d4d5d5;
  margin: 30px 0px;

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
  }

  #left-top-triangle {
    border-width: 200px 0 0 200px;
    border-color: transparent transparent transparent #d4d5d5;
    top: -30px;
    left: 0px;
  }

  #right-top-triangle {
    border-width: 0 0 200px 200px;
    border-color: transparent transparent #d4d5d5 transparent;
    top: -30px;
    right: 0px;
  }

  #right-bottom-triangle {
    border-width: 0 0 200px 200px;
    border-color: transparent #d4d5d5 transparent transparent;
    bottom: -30px;
    right: 0px;
  }

  #left-bottom-triangle {
    border-width: 0 0 200px 200px;
    border-color: #d4d5d5 transparent transparent transparent;
    bottom: -30px;
    left: 0px;
  }

  .title {
    margin: 0px 0px 30px 0px;
    color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
  }

  p {
    margin: 0;
  }

  .gray {
    background-color: #e7e7e7;
    padding: 40px 45px;
  }

  table {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  td, th, tr {
    border: 1px solid #adadad;
    text-align: center;
    padding: 5px 10px;
  }

  thead th {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-1;
    font-size: 12pt;
  }

  tbody th {
    font-weight: normal;
    text-align: left;

    b {
      text-transform: uppercase;
    }
  }

  @media (max-width: 992px) {
    .gray {
      padding: 40px 15px;
    }
  }
}

/* 6 - Como Tomar */
section#como-tomar {
  .title {
    color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
    font-size: 20pt;
  }

  img {
    margin: 20px 0px 20px 0px;
  }

  .item-icon {
    padding: 20px 0px 20px 0px;
  }

  @media (max-width: 992px) {
    img {
      width: 40%;
    }
  }
}

/* 7 - Benefícios */
section#beneficios {
  background: #222222;
  margin-bottom: 60px;
  padding: 35px 0px;

  .title {
    margin-bottom: 30px;
    color: $color-1  ;
    font-size: 24pt;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    color: #ffffff;
    margin: 0 auto 30px auto;
  }

  .title-item {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
    margin-top: 25px;
  }

  p {
    color: #ffffff;
    font-size: 12pt;
    margin-bottom: 25px;
  }

  .item-list {
    padding-left: 45px;

    &:nth-child(even) {
      padding-left: 75px;
    }
  }

  @media (max-width: 992px) {
    .item-list, .item-list:nth-child(even) {
      padding: 0px;
    }
  }
}

/* 8 - Perguntas */
section#perguntas {
  .title {
    color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
    font-size: 20pt;
  }

  .item-icon {
    margin-bottom: 80px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li::before {
      content: "•";
      color: $color-1;
      font-size: 14pt;
      font-weight: bold;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    .item-icon {
      margin-bottom: 30px;
    }

    img {
      margin-bottom: 50px;
      width: 50%;
    }
  }
}
